/*link for th efont*/
/*kita mo ako?*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Varela+Round&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Libre Baskerville', serif;
}
html{
	scroll-behavior: smooth;
}
.container{
	width: 100%;
	height: 100%;
/*	height: 100vh;*/
}
.navigation{
	width: 100%;
	height: 100px;
	background: #fff;
	position: fixed;
	padding: 10px;
	top: 0;
	z-index: 5;
/*add tayo zindex	*/

}
.nav-cont{
	width: 100%;
	height: 100%;
	border: 2px solid #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;

}
.logo img{
	width: 200px;
}
.
.navlink{
}
.navlink ul{
	display: flex;
	flex-direction: row;
	padding-right: 30px;
}
.navlink li{
	list-style: none;
 	/*	add padding*/
 	padding: 10px 30px;
}
.navlink a{
	text-decoration: none;
	font-size: 13px;
	color: #000;
	transition: 0.4s;
}
.navlink a:hover{
	color: #ef0831;
}
.active{
	background: #000;
	transition: 0.4s;
}
.active:hover{
	transform: scale(1.1);
}
.active a{
	color: #fff;
/*#937127	*/
}
.back-container{
	width: 100%;
	height: 350px;
	background: grey;
	margin-top: 115px;
	padding-left: 60px;
	padding-right: 60px;
}
.cover-img{
	width: 100%;
	height: 100%;
	background: pink;
}
.cover-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about{
	width: 100%;
	height: 350px;
	background: black;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 100px;
	padding-right: 100px;
}
.about-details{
/*	background: pink;*/
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	align-items: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about-details p{
	line-height: 25px;
}
.about-details button{
	width: 180px;
	height: 40px;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
	font-weight: bolder;
	transition: 0.4s;
}
.about-details button:hover{
	background: #ef0831;
}
/*menu*/
.Menu{
	width: 100%;
	height: 100%;
	padding: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.Menu h1{
	text-align: center;
	color: #000;
	padding-bottom: 30px;

}
.dish-cont{
	width: 950px;
	height: 400px;
	background: #fff;/*guide*/
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.dish-cont1{
	width: 950px;
	height: 400px;
	background: #fff;/*guide*/
	display: flex;
	flex-direction: row-reverse;
/*	baliktarin lang natin */
	align-items: center;
	justify-content: space-between;
}
.dish{
	width: 430px;
	background: grey;
	height: 400px;
/*
	background: url(https://images.getbento.com/accounts/4e84fa105d04379104b8a7f98f1f966d/media/images/68607MIC_4548.jpg?w=1200&fit=crop&auto=compress,format&crop=focalpoint&fp-x=0.57&fp-y=0.1);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;*/
}
.dish img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*dish 2 img*/
.dish01{
	width: 430px;
	background: grey;
	height: 400px;
}
.dish01 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.dish-details{
	width: 350px;
	height: 350px;
	background: #fff;
	margin-right: 50px;
	border: 2px solid #000;
	position: relative;
/*	para ma wala yung sobrang spce na grey */
	overflow: hidden;
}
.title h1{
	font-family: 'Great Vibes', cursive;
}
.title{
	width: 100%;
	height: 70px;
/*	background: grey;*/
	padding: 20px;
	border-bottom: 2px solid #000;
}
.ulam{
/*	background: grey;*/
	width: 100%;
	height: auto;
	padding: 15px;
	display: flex;
	flex-direction: column;
}
.ulam p{
	padding-top: 0px;
	padding-bottom: 15px;
	font-size: 15px;
	line-height: 25px;
}
.ulam button{
	width: 150px;
	height: 40px;
	background: #000;
	color: #fff;
	margin: 8px;
	transition: 0.4s;

}
.ulam button:hover{
	background: #ef0831;
	color: #fff;
}
/*patok dish*/

.patok{
	width: 100%;
	height: 100%;
	background: #fff;
/*	position: absolute;*/
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
/*	background: pink;*/
}
.featured{
	width: 600px;
	height: 300px;
	background: #fff;
	display: flex;
	flex-direction: row;
	padding-top: 10px;

}
.patok h1{
	text-align: center;
	font-family: 'Great Vibes';
	padding: 15px;
}
.dish1{
	width: 50%;
	height: 200px;
	background: #fff;
}
.dish1 p{
	font-size: 12px;
	text-align: center;
}
.dish1 h1{
	font-family: 'Varela Round', sans-serif;
	font-weight: 100;
	font-size: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 0px;
	padding-left: 0px;
	border: 2px solid #000;
	margin: 15px;
}

/*dish 2*/


.contact{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgb(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)),url(https://images.getbento.com/accounts/4e84fa105d04379104b8a7f98f1f966d/media/images/89012sannah-vinding.jpg?w=1200&fit=crop&auto=compress,format&crop=focalpoint&fp-x=0.5&fp-y=0.5);
	display: flex;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact h1{
	font-family: 'Great Vibes';
	color: #fff;
}
.contact p{
	color: #fff;
}
.form{
	width:700px;
	height: 400px;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-top: 50px;
	border: 2px solid #000;
	border-radius: 10px;
	
}

.input-box{
	width: 100%;
	height: 50px;
	border: 2px solid #000;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 5px;
}
.input-box input{
	width: 100%;
	height: 100%;
	background: #fff;
	border: none;
	color: #000;
	padding-left: 10px;
}
.input-text{
	width: 100%;
	height: 200px;
	margin-top: 10px;
	border-radius: 5px;
	overflow: hidden;
	border: 2px solid #000;
}
.input-text textarea{
	width: 100%;
	height: 100%;
	resize: none;
	padding: 10px;
}
.input-btn{
	width: 100%;
	height: 50px;
	margin-top: 5px;
	border: 1px solid #000;
	border-radius: 5px;
	overflow: hidden;
	background: #000;
	transition: 0.5s;

}
.input-btn button{
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	background: transparent;
	
}
.input-btn:hover{
	background: #fff;
	color: #000;
}

footer{
	width: 100%;
	height: 90px;
	background: #000;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #fff;

}